body{
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
h1{
    position: relative;
    text-align: center;
    top: 30%;
}
h3{
    text-align: center;
}
table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }

table tr th {
    background: #aff;
}


table tr:nth-child(odd) td{
    background: beige;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    margin-left: 50px;
    list-style-type: none;
    text-decoration: none;
    font-size: 24px;
}

ul li a:hover{
    background: #faa;
    font-weight: bold;
}

table{
    margin-left: auto;
    margin-right: auto;
}
table tr:hover td{
    background: #afa;
}


input[type='text'] {
    width: 300px;
    margin: 10px 15px;
    border: 1px solid black;
}


input[type='text']:hover {
    background: #e7edff;    
}

input[type='submit'] {
    margin: 10px 15px 10px 150px;
    font-weight: bold;
    background-color: #b5c9ff;
    padding: 10px;
}

input[type='submit']:hover {
    background-color: #1645c7;
    color: #fff;
}


form {
    width: 500px;
    border: 1px solid black;
    background: #ffa;
    position: relative;
    left: 50%;
    margin-left: -250px;
}

img{
    margin: 35px;
    position: relative;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 400px;
}